*.map
*.mem
*.prof
/.mypy_cache
/.vscode
/data
/latest_log_dir
/latest_log_file
/logs
/ninja-python-distributions
/pip-selfcheck.json
/pyvenv.cfg
/sensitivity.csv
/sensitivity.png
/tensorflow
/weights_sparsity.csv
__pycache__
/super-linter.log
/super-linter.report
/venv
