*.map
*.mem
*.prof
/.mypy_cache/
/.venv/
/.vscode/
**/build/
/data/
/latest_log_dir
/latest_log_file
/logs/
/ninja-python-distributions
/pip-selfcheck.json
/pretrained/
/sensitivity.csv
/sensitivity.png
/tensorflow/
/weights_sparsity.csv
**/__pycache__/
/super-linter.log
/super-linter.report
/typings/
