*.map
*.mem
*.prof
/.mypy_cache
/.vscode
/ai84-cifar10.pth.tar
/ai84-cifar10-bias.pth.tar
/ai84-mnist.pth.tar
/ai84.pth.tar
/apex
/bin
/build
/checkpoint
/data
/etc
/go
/include
/latest_log_dir
/latest_log_file
/lib
/lib64
/logs
/ninja-python-distributions
/pip-selfcheck.json
/pytorch
/pyvenv.cfg
/runs
/sensitivity.csv
/sensitivity.png
/share
/tensorflow
/weights_sparsity.csv
__pycache__
/super-linter.log
/super-linter.report
