[MESSAGES CONTROL]
disable=invalid-name
[TYPECHECK]
ignored-modules = numpy, matplotlib.cm, torch, distiller
ignored-classes = ModelProto
[FORMAT]
max-line-length = 99
[DESIGN]
max-locals=100
max-statements=100
min-public-methods=1
max-branches=30
max-module-lines=5000
