torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
GitPython>=3.1.18
Pillow>=7
PyYAML>=5.1.1
albumentations>=1.3.0
faiss-cpu==1.7.4
face-detection==0.2.2
h5py>=3.7.0
imutils==0.5.4
kornia==0.6.8
librosa>=0.7.2
numba<0.50.0
numpy>=1.22,<1.23
opencv-python>=4.4.0
protobuf>=3.20.1,<4.0
pycocotools==2.0.7
pyffmpeg==2.0
pytorch-metric-learning==2.3.0
pytube>=12.1.3
scipy>=1.3.0
shap>=0.34.0
tensorboard>=2.9.0,<2.10.0
tk>=0.1.0
torchmetrics==0.6.0
-e distiller
