numpy>=1.22,<1.23
PyYAML>=5.1.1
scipy>=1.3.0
librosa>=0.7.2
Pillow>=7
shap>=0.34.0
tk>=0.1.0
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tensorboard>=2.9.0,<2.10.0
protobuf>=3.20.1,<4.0
numba<0.50.0
opencv-python>=4.4.0
pytsmod>=0.3.3
h5py>=3.7.0
-e distiller
