numpy>=1.19,<=1.19.5
PyYAML>=5.1.1
tabulate==0.8.3
future>=0.17.1
six>=1.12.0
scipy==1.6.0
librosa>=0.7.2
Pillow>=8.0.0
shap>=0.37.0
tk>=0.1.0
sndfile>=0.2
numba<0.50.0
tensorflow==2.4.0
tensorboard==2.4.0
tensorflow_datasets==4.1.0
tensorflow_metadata==0.26.0
absl-py==0.10
tf2onnx>=1.7.2
onnxruntime>=1.6.0
pydot>=1.4.1
graphviz==0.16
